/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffb6c1;
}

h1 {
  padding-left: 5%;

}

.header {
  background-color: #ffeef1;
  color: #333;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 13vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: large;
}

.header-1 {
  background-color: #ffeef1;
  color: #333;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 13vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.6s;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: large;
}


.header-hidden {
  opacity: 0;
  top: -20vh
}

.title-logo {
  margin-left: 5%;
  height: 190%;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-right: 70px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

.index-thumb {
  position: relative;
  width: 94%;
  margin-left: 3%;
  margin-top: 30px;
  height: auto;
  z-index: 0;
}

.scroll {
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: zoom 1.5s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.container-inner {
  position: relative;
  background-color: #fff;
  padding: 30px;
  width: 93.6%;
  margin-left: 3.2%;
  z-index: 2;
  border-radius: 25px;
}

.container-outer {
  background-color: #ffeef1;
  margin-top: -80px;
  padding: 0;
  width: 94%;
  margin-left: 3%;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 5%;
}

.latest {
  width: 60%;
}

.latest-thumb {
  max-width: 100%;
  border-radius: 20px;
}

.latest h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: xx-large;
}

article p {
  padding-top: 10px;
}

article h3 {
  padding-top: 10px;
  font-size: larger;
}

.posts a {
  text-decoration: none;
  color: #bfdff5;
}

.post-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #03033b;
  border: 4px solid #333;
  border-radius: 13px;
  padding: 10px;
}

.post-box:hover {
  background-color: #0b6e95;
  border: 4px solid #0b6e95;
  border-radius: 13px;
}

.post-box img {
  margin-right: 20px;
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.post-content h3 {
  font-size: 1.2rem;
  margin: 0;
  text-align: left;
}

.post-content p {
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: left;
}

.post-item {
  margin-bottom: 20px;
}

aside {
  float: right;
  width: 80%;
  margin-left: 10px;
}

section h2 {
  margin-bottom: auto;
}

footer {
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

/* utilities */

#bgm {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.top-button {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.top-button img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  opacity: 0.6;
}

.top-button img:hover {
  opacity: 0.99;
}

.button-hidden{
  opacity: 0;
}

.thumb {
  text-align: center;
  position: relative;
}

.thumb h1 {
  color: white;
  font-size: 3.5rem;
  position: absolute;
  text-shadow: 5px 5px #333;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.thumb img {
  width: 94%;
  object-fit: cover;
  filter: blur(8px);
  z-index: 0;
}

/* reviews */

.review {
  margin-top: -30px;
  width: 96%;
  margin-left: 2%;
}

.review a {
  text-decoration: none;
  color: #bfdff5;
}

.review-box {
  position: relative;
  margin-top: 4%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(3, 3, 59);
  border-radius: 13px;
  padding: 0px;
  z-index: 1;
}

.review-box:hover {
  background-color: #0b6e95;
  border-radius: 13px;
}

.review-box img {
  margin-right: 20px;
  width: 330px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.review-content h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  color: #bfdff5;
}

.review-content p {
  font-size: 1rem;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.score {
  background-color: #ffeef1;
  color: #000;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.4%;
  padding-bottom: 0.3%;
  border-radius: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* songs */

.song-left {
  margin-top: -30px;
  width: 94%;
  margin-left: 3%;
}

.song-left a {
  text-decoration: none;
  color: black;
}

.song-box-left {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 13px;
  padding: 0px;
  z-index: 2;
}

.song-box-left:hover {
  background-color: #ebf1f3;
  border-radius: 13px;
}

.song-box-left img {
  margin-right: 20px;
  width: 650px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.song-content-left h2 {
  font-size: 2rem;
  margin: 0;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.song-content-left p {
  margin-top: 5px;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.song-right {
  margin-top: -30px;
}

.song-right a {
  text-decoration: none;
  color: black;
}

.song-box-right {
  position: relative;
  width: 94%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffeef1;
  border-radius: 13px;
  padding: 0px;
  z-index: 2;
}

.song-box-right:hover {
  background-color: #f7e4e8;
  border-radius: 13px;
}

.song-box-right img {
  margin-left: 20px;
  width: 650px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.song-content-right h2 {
  font-size: 2rem;
  margin: 0;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.song-content-right p {
  margin-top: 5px;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

/* seasonal */
.seasons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  margin-top: 20px;
}

.seasons a {
  text-decoration: none;
  color: #bfdff5;
}

.season {
  padding-left: 15px;
  padding-right: 15px;
}

.season-box {
  position: relative;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  padding: 0px;
  z-index: 1;
}

.season-box:hover {
  background-color: #0b6e95;
  border-radius: 20px;
}

.season-box img {
  width: 100%;
  height: 750px;
  object-fit: cover;
  border-radius: 20px;
}

.season-box:hover .text-overlay {
  height: 90%;
}

.season-box:hover p {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 20px 20px;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.season-box h2 {
  padding-top: 5%;
  color: white;
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

.season-box p {
  color: white;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 7px;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}



/* about */
.container {
  position: relative;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffeef1;
  width: 70.3%;
  margin-top: -3%;
  z-index: 0;
}

.contact-form {
  padding-top: 5%;
  width: 90%;
  margin-left: 5%;
  text-align: left;
}

.contact-form h2 {
  margin: 20px;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

.contact-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.form-group1,
.form-group2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-group1 input,
.form-group2 input {
  margin-bottom: 30px;
}

.form-group3 {
  grid-column: 1 / span 2;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
  height: 400px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: white;
  font-size: 16px;
}

input {
  height: 50px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  margin-left: 150%;
  margin-top: 30px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}


#about-thumb {
  text-align: left;
  position: relative;
  width: 72%;
  height: 100%;
  z-index: 1;
}

#about-thumb h1 {
  color: white;
  font-size: 3.5rem;
  position: absolute;
  text-shadow: 5px 5px #333;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#about-thumb img {
  margin-left: -2%;
  width: 100%;
  object-fit: cover;
  filter: blur(8px);
  z-index: 0;
}

.about-me {
  margin-right: 1.5%;
  margin-top: 6%;
  background-color: white;
  padding: 30px;
  padding-top: 20px;
  border: 1px solid #ccc;
  width: 26%;
  height: 80%;
  position: fixed;
  top: 5%;
  right: 0px;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}

.about-me p {
  font-size: 90%;
  padding: 10px;
  margin-top: 2%;
  padding-bottom: 30px;
  text-align: justify;
}

#logo {
  border-radius: 50%;
  max-width: 40%;
  max-height: 40%;
}

.about-me a {
  color: white;
  overflow: hidden;
}

.links-logo {
  border-radius: 50%;
  max-width: 11%;
  max-height: 11%;
  margin: 20px;
}

.about-me h3 {
  font-size: 1.2rem;
}
